*.iml
/android
/android/.gradle
/local.properties
/.idea
/android/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
/sample_app/release/
/node_modules
